* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 93vh;
    background: url('tlo1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.naglowek ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: rgb(42, 41, 41);
}

.naglowek li {
    float: left;
}

.naglowek li a {
    display: block;
    color: rgb(231, 225, 225);
    text-align: center;
    padding: 10px 12px; /* Zmniejszono padding */
    text-decoration: none;
}

.naglowek li a:hover {
    background-color: #646363;
}

.wrapper {
    border: 2px solid #ffffff;
    color: #ffffff;
    width: 300px; 
    border-radius: 10px;
    padding: 10px 15px; 
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.wrapper h1 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px; 
    color: #26248e;
}

.input-box {
    position: relative;
    width: 100%;
    margin: 15px 0; 
    height: 75px; 
}

.input-box input {
    width: 100%;
    height: 30px; 
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #ffffff;
    border-radius: 20px;
    color: #fff;
    font-size: 12px; 
    padding: 0 15px; 
}

.input-box input::placeholder {
    color: #ccc;
}

.btn {
    width: 100%;
    height: 30px; 
    background: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    color: #333;
    font-weight: 600;
    font-size: 14px; 
    margin-top: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background: #816ce9;
}

.register-link {
    font-size: 12px; 
    text-align: center;
    margin: 15px 0; 
}

.register-link p a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}
